/* layout generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #5f6368;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
}

main {
    height: calc(100vh - 60px - 80px);
}

footer {
    height: 80px;
    background-color: #f2f2f2;
}

/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* setto lo stile dei link */
a {
    text-decoration: none;
    color: inherit;
}

/* selettori header */
#header-left,
#header-right {
    width: 30%;
}

ul > li {
    display: inline-block;
    font-size: 14px;
    padding:0 8px;
    line-height: 60px;
}

ul > li > a:hover {
    text-decoration: underline;
}

#header-right {
    text-align: right;
}

#app-grid {
    position: relative;
}

#app-grid  i {
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}

#app-grid i:hover {
    color: black;
}

.account img {
    width: 30px;
    vertical-align: middle;
    border-radius: 50px;
}

/*selettori dropdown */
.app-dropdown {
    position: absolute;
    width: 330px;
    height: auto;
    line-height: normal;
    background-color: white;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    left: -100px;
    transform: translateX(-50%);
    padding: 20px 20px 0 20px;
    border-radius: 20px;
    box-sizing: content-box;
    display: none;
}

/* classe per attivare il dropdown nel js */
.app-dropdown.active {
    display: block;
}

.app-box {
    width: 100px;
    height: 100px;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 0 10px;
    cursor: pointer;
}

.app-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.app-box:first-child img {
    border-radius: 50px;
}

/* fine selettori dropdown */

/*selettori main */
.container {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

.search-bar {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 50px;
    color: lightgray;
    padding: 0 6px;
    margin: 20px;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

form input {
    width: 90%;
    height: 40px;
    border: none;
    border-bottom: 0;
}

form i:last-of-type {
    color: rgb(66, 133, 244);
}


input:focus,
input:active {
    outline: 0;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.buttons button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    margin: 0 7px;
}

.buttons button:hover {
    border: 1px solid rgb(223,225,229);
}

/* selettori footer */
#footer-top,
#footer-bottom {
    height: 50%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #e5e5e5;
    padding: 0 14px;
}

#fb-left,
#fb-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#footer-top p,
footer ul > li {
    display: inline-block;
    padding: 0 8px 0 8px;
    line-height: normal;
}
